@model Course
@{
    ViewData["Title"] = "Add";
    SelectList DepartmentList = new SelectList(ViewBag.Department, "id", "Name");
}

<form method="post" asp-controller="Course" asp-action="SaveAdd">
    <div>
        <label asp-for="@Model.Name "></label>
        <input class="form form-control" asp-for="@Model.Name" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Hours"></label>
        <input class="form form-control" asp-for="@Model.Hours" />
        <span asp-validation-for="@Model.Hours" class="text-danger"></span>

    </div>  
    <div>
        <label asp-for="@Model.MaxDgree"></label>
        <input class="form form-control" asp-for="@Model.MaxDgree" />
        <span asp-validation-for="@Model.MaxDgree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="@Model.MinDgree"></label>
        <input class="form form-control" asp-for="@Model.MinDgree" />
        <span asp-validation-for="@Model.MinDgree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="@Model.Department.Name"></label>
        <select class="form form-control" asp-for="@Model.DepartmentId" asp-items="DepartmentList">
        <option value="-1" selected>Select Department</option>
        </select>
        <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
    </div>
        <input type="submit" value="Create" class="btn btn-success"/>
</form>

